/* CSS CODE HERE */
nav{
    background-color: #212529;
    width: 100vw;
    height: 70px;
}
.left{
    float: left;
}
body{
    margin-left: 0px;
    margin-top: 0px;
}
#navcontent{
    width: 1280px;
    height: 100%;
    background-color: red;
    margin: auto;
    
}