/* CSS CODE HERE */
nav{
    background-color: #111820;
    width: 100%;
    height: 70px;
    position: fixed;
}
.left{
    float: left;
}
.right{
    float: right;
}
body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
}
#navcontent{
    width: 1280px;
    height: 100%;
    margin: auto;
    
}
#vivelogo{
    width: 115px;
    height: 29px; 
    padding-top: 20px;
    padding-right: 50px;
}
.navtext{
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #cccccc;
    padding-top: 25px;
    padding-right: 20px;
    letter-spacing: .03em;
}
#shoppingcart{
    width: 26px;
    padding-top: 22px;
}
#herosection{
    width: 100%;
    background-size: cover;
    height: 845px;
    background-image: url(images/hero.jpg)
}
#hero{
    background-image: url(https://www.vive.com/media/filer_public/vive/homepage-v4/top_banner/cosmos/20190830/cosmos-main-desktop.png);
    width: 100%;
    height: 75vh;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#searchicon{
    padding-top: 22px;
    padding-right: 9px;
}
#vivecosmos{
    background-position: center center;
    background-image: url(https://www.vive.com/media/filer_public/vive/homepage-v4/top_banner/cosmos/logo-en-resize.png);
    width: 100%;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 15px;
}
#herobox{
    padding-top: 530px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: .0625rem;
    font-size: 1.25rem;
}
#buttons{
    margin-left: 42%;
    padding-top: 30px;
}
#leftarrow{
    float: left;
    padding-left: 35px;
    padding-top: 405px;
}

#rightarrow{
    float: right;
    padding-right: 35px;
    padding-top: 405px;;
}
#sections{
    width: 100%;
    height: 200px;
}
.sectionbox{
    width: 24.96%;
    height: 200px;
    background-color: blue;
    float: left;
    display: inline-block;
    border-right: white solid 1px;
}
#lastsection{
    border-right: none;
}
.sectiontext{
    height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Oscine-Regular',SF Pro Text,SF Pro Icons,Helvetica,Arial;
    font-weight: bolder;
    font-size: 1.125rem;
    padding-top: 10px;
    background-color: red
}
#promo{
    height: 678px;
    width: 100%;
    background-color: green;
}
#newreleases{
    height: 401px;
    width: 100%;
    background-color: purple;
}
#signup{
    height: 361px;
    width: 100%;
    background-color: yellow;
}
#socialmedia{
    height: 68px;
    width: 100%;
    background-color: blue;
}
#footer{
    height: 502px;
    width: 100%;
    background-color: black;
}
#ad{
    width: 1140px;
    height: 570px;
    margin-left: 390px;
    margin-top: 54px;
    background-color: red;
}